<!DOCTYPE html>
<html>

<head>
  <title>Les tickets</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta charset="UTF-8">
</head>

<body>
  <h1>Ajouter un ticket</h1>
  <p></p>

  <div>
    <a href="/" class="waves-effect waves-light btn blue">Revenir à l'Accueil</a>
  </div>

  <div class="row">
    <div id="formAdd" class="col s12">
      <form action="/addticket/confirm" method="GET">
        <div class="input-field col s6">
          <label for="title">Titre du billet</label><br>
          <input placeholder="Exemple : Souris débranchée en D361" name="title" type="text" class="validate" required>
        </div>
        <div class="input-field col s6">
          <label for="priority">Priorité</label><br>
          <input placeholder="Exemple : 3" name="priority" type="number" class="validate"
            required>
        </div>
        <button class="waves-effect waves-light btn blue" type="submit" name="action">
          <i class="material-icons left">add_box</i>Ajouter un ticket
        </button>
      </form>
    </div>

</body>

</html>