<!DOCTYPE html>
<html>

  <% include layout/head %>

<body>

  <% include layout/navbar %>

  <h1>Ajouter un billet</h1>

  <div id="formAjout" class="col">
    <form action="/ajouterBillet" method="POST">
      <div class="input-field">
        <label for="titreBillet">Titre du billet</label><br>
        <input placeholder="Exemple : Souris débranchée en D361." name="titreBillet" type="text" class="validate"
          data-length="120" id="input_text" required>
      </div>

      <div class="input-field">
        <label for="problemeBillet">Type de problême</label><br><br>
        <select id="problemeBillet" name="problemeBillet" class="dispSelect">
          <option value="">Veuillez sélectionner un type de problême</option>
          <% probs.forEach(function(prob) {%>
          <option value="<%= prob.IDPROBLEME %>"><%= prob.NOMPROBLEME %></option>
          <% }); %>
        </select>
      </div>

      <div class="input-field">
        <label for="urgenceBillet">Urgence du billet (entre 1 et 5)</label><br>
        <input placeholder="Exemple : 1 pour un problème mineur, 5 pour un problème majeur." name="urgenceBillet"
          type="number" class="validate" min="1" max="5" required>
      </div>

      <div class="input-field">
        <label for="messageBillet">Détails du problême</label><br>
        <textarea class="materialize-textarea validate" name="messageBillet" cols="30" rows="20"
          placeholder="Spécifiez en quelques lignes le problême."></textarea>
      </div>

      <div class="input-field">
        <form action="/upload" method="post" enctype="multipart/form-data"></form>
          <label for="pjBillet">Pièce-jointe</label><br><br>
          <input name="piecejointebillet" type="file" class="validate btn blue">
        </form>
      </div>

      <div class="input-field">
        <label for="posteOrdinateur">Poste</label><br><br>
        <select id="posteOrdinateur" name="posteOrdinateur" class="dispSelect">
          <option value="">Veuillez sélectionner un poste</option>
          <% ordis.forEach(function(ordi) {%>
          <option value="<%= ordi.IDORDINATEUR %>"><%= ordi.POSTEORDINATEUR %></option>
          <% }); %>
        </select>
      </div>



      <button class="waves-effect waves-light btn blue" type="submit" name="action">
        <i class="material-icons left">add_box</i>Ajouter un billet
      </button>
    </form>
  </div>

</body>

</html>