<!DOCTYPE html>
<html>

<head>
  <title>Vue globale des billets</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta charset="UTF-8">
</head>

<body>
  <h1>Vue globale des billets</h1>
  <p>Cette interface offre une vue globale des billets</p>
  <p><a href="/">Revenir à l'Accueil</a></p>

  <p> L'id du billet est : <% billet.IDBILLET%></p>
  <table id="billet" class="centered responsive-table highlight">
    <thead>
      <tr>
        <th> YO <% billet.IDBILLET %></th>
    </thead>
</body>

</html>