<!DOCTYPE html>
<html>
<% include layout/head %>

<body>
    <%- include('layout/navbar', {pseudo: pseudo, role: role }) %>
    <div class="center">
        <h1><i class="large red-text text-lighten-1 material-icons">highlight_off</i></h1>
        <h3 class="red-text text-lighten-1">Une erreur est survenue....</h3>
    </div>

    <% include layout/script %>
</body>

</html>