<!DOCTYPE html>
<html>

  <% include layout/head %>


<body>
  <div class="row">
    <div>
      <h1>Demande d'aide </h1>
      <p>Demande d'assistance du service informatique et logistique.<br>Type de problêmes pouvant être envoyés :
        Matériel,
        Logiciel ou Utilisateur.</p>
    </div>
    <form action="/login" method="POST">
      <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <button type="submit" class="btn blue">S'identifier</button>
      </div>
    </form>
  </div>

  <div>
    <h5>Identifiants disponibles</h5>
    <table id="personnes" class="centered responsive-table highlight">
      <thead>
        <tr>
          <th>Date de création du billet</th>
          <th>Titre du billet</th>
          <th>Priorité</th>
          <th>Id</th>
          <th>Détails</th>
          <th>Etat du billet</th>
        </tr>
      </thead>
      <% if(typeof personnes != undefined) {%>
      <tbody>
        <% personnes.forEach(function(personne) {%>
        <tr>
          <td>
            <%= personne.PRENOMPERSONNE %>
          </td>
        </tr>
        <% }); %>
      </tbody>
      <% }%>
    </table>
  </div>
</body>

</html>