<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div>
    <h1>Demande d'aide</h1>
  </div>
  <p>Welcome to <%= title %></p>

  <div>
    <h1><a href="/billets">Tous les tickets</a></h1>
  </div>
  <div>

  </div>
</body>

</html>