<!DOCTYPE html>
<html>

<head>
  <title>Connexion</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <main class=" center">
    <div class="section"></div>

    <h5 class="indigo-text">Demande d'aide - connexion</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row"
        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <form action="/login" method="POST">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <label for="uname"><b>Pseudo</b></label>
              <input type="text" placeholder="Votre pseudo" name="uname" required>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <label for="psw"><b>Mot de passe</b></label>
              <input type="password" placeholder="Votre mot de passe" name="psw" required>
            </div>
          </div>
          <br />
          <div class='row center'>
            <button type="submit" class='col s12 btn btn-large waves-effect indigo'>S'identifier</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <% include layout/script %>
</body>

</html>