<!DOCTYPE html>
<html>

<% include layout/head%>


<body>
    <% include layout/navbar%>

    <h1>Statistiques</h1>
    <nav class="nav-extended">
        <div class="nav-content blue">
            <ul class="tabs tabs-transparent">
                <% if(typeof mois !== 'undefined') {%>
                    <li><input type="hidden" value="<%=mois%>"></li>
                <%}%>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/0">Mois actuel</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/1">Janvier</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/2">Février</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/3">Mars</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/4">Avril</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/5">Mai</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/6">Juin</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/7">Juillet</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/8">Août</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/9">Septembre</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/10">Octobre</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/11">Novembre</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/12">Decembre</a></li>
            </ul>
        </div>
    </nav>

    <div class="section">
        <h5>Informations générales du mois de 
            <% if(typeof mois !== 'undefined') {%>
                <%= mois%>
            <%}%>
        </h5>
        <div class="row grey lighten-4">
            <div class="col s12"><p>This div is 12-columns wide on all screen sizes</p></div>
            <div class="col s6">6-columns (one-half)</div>
            <div class="col s6">6-columns (one-half)</div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Section 2</h5>
        <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Section 3</h5>
        <p>Stuff</p>
    </div>

    <% include layout/script %>
    <script type="text/javascript" src="/javascript/stats.js"></script>

</body>

</html>