<!DOCTYPE html>
<html>

<% include layout/head%>


<body>
    <% include layout/navbar%>

    <h1>Statistiques</h1>
    <nav class="nav-extended">
        <div class="nav-content blue">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="#test1">Mois actuel</a></li>
                <li class="tab"><a href="#test2">Janvier</a></li>
                <li class="tab"><a href="#test2">Février</a></li>
                <li class="tab"><a href="#test2">Mars</a></li>
                <li class="tab"><a href="#test2">Avril</a></li>
                <li class="tab"><a href="#test2">Mai</a></li>
                <li class="tab"><a href="#test2">Juin</a></li>
                <li class="tab"><a href="#test2">Juillet</a></li>
                <li class="tab"><a href="#test2">Août</a></li>
                <li class="tab"><a href="#test2">Septembre</a></li>
                <li class="tab"><a href="#test2">Octobre</a></li>
                <li class="tab"><a href="#test2">Novembre</a></li>
                <li class="tab"><a href="#test2">Decembre</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
    </ul>

    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
</body>

</html>