<!DOCTYPE html>
<html>
  <head>
    <title>Les tickets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TICKETS</h1>
    <p>Welcome to TICKETS</p>

    <div>
      <h1><a href="/">Accueil</a></h1>
    </div>
  </body>
</html>
