<ul id="dropdown1" class="dropdown-content">
  <li><a><%= pseudo %></a></li>
  <li class="divider"></li>
  <li><a href="">Interface</a></li>
  <li><a href="/login">Se déconnecter</a></li>

</ul>
<nav>
  <div class="nav-wrapper blue">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="brand right dropdown-trigger" data-target="dropdown1">
          Connecté
          <i class="material-icons right">person arrow_drop_down</i>
        </a>
      </li>

    </ul>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/" class="waves-effect waves-light btn blue"><i
            class="material-icons left">keyboard_arrow_left</i>Revenir à l'Accueil</a></li>
      <li><a href="/billets" class="btn blue"><i class="material-icons left">dashboard</i>Tableau de
          bord</a>
      <li><a href="/ajouterBillet" class="btn blue"><i class="material-icons left">add</i>Ajouter un
          billet</a>
      <li><a href="/recherche" class="btn blue"><i class="material-icons left">search</i>Rechercher</a>
      </li>
    </ul>
  </div>
</nav>