
  <nav>
    <div class="nav-wrapper blue">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <a class="brand-logo right"><i class="material-icons right">build</i><%= pseudo %></a>
        <li><a href="/" class="waves-effect waves-light btn blue"><i
              class="material-icons left">keyboard_arrow_left</i>Revenir à l'Accueil</a></li>
        <li><a href="/billets" class="btn blue"><i class="material-icons left">dashboard</i>Tableau de
            bord</a>
        <li><a href="/ajouterBillet" class="btn blue"><i class="material-icons left">add</i>Ajouter un
            billet</a>
        <li><a href="/recherche" class="btn blue"><i class="material-icons left">search</i>Rechercher</a>
        </li>
      </ul>
    </div>
  </nav>